body {
	background-color: #000000;
	color: #FFFFFF;
	text-align: center;
	margin: 0;
	overflow: hidden;
	font-family: 'Patrick Hand', cursive !important;
}

.btn-general {
	width: 500px;
	outline: none;
	background-color: #3bb3e0;
	font-size: 16px;
	text-decoration: none;
	color: #fff;
	position: relative;
	padding: 10px 20px;
	background-image: linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -o-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -webkit-gradient linear, left bottom, left top, color-stop(0, rgb(44, 160, 202)), color-stop(1, rgb(62, 184, 229)) );
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: inset 0 1px 0 #2ab7ec, 0 5px 0 0 #156785, 0 10px 5px #999;
	-moz-box-shadow: inset 0 1px 0 #2ab7ec, 0 5px 0 0 #156785, 0 10px 5px #999;
	-o-box-shadow: inset 0 1px 0 #2ab7ec, 0 5px 0 0 #156785, 0 10px 5px #999;
	box-shadow: inset 0 1px 0 #2ab7ec, 0 5px 0 0 #156785, 0 10px 5px #999;
	margin: 15px;
	text-transform: uppercase;
	font-weight: bold;
}

.btn-general:active {
	top: 3px;
	background-image: linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -o-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -webkit-gradient linear, left bottom, left top, color-stop(0, rgb(62, 184, 229)), color-stop(1, rgb(44, 160, 202)) );
	-webkit-box-shadow: inset 0 1px 0 #2ab7ec, 0 2px 0 0 #156785, 0 5px 3px #999;
	-moz-box-shadow: inset 0 1px 0 #2ab7ec, 0 2px 0 0 #156785, 0 5px 3px #999;
	-o-box-shadow: inset 0 1px 0 #2ab7ec, 0 2px 0 0 #156785, 0 5px 3px #999;
	box-shadow: inset 0 1px 0 #2ab7ec, 0 2px 0 0 #156785, 0 5px 3px #999;
}

.next-level::before {
	background-color: #2591b4;
	background-image: url('../img/icon/right_arrow.png');
	background-repeat: no-repeat;
	background-position: center center;
	content: "";
	width: 20px;
	height: 20px;
	position: absolute;
	right: 15px;
	top: 50%;
	margin-top: -9px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	-webkit-box-shadow: inset 0 1px 0 #052756, 0 1px 0 #60c9f0;
	-moz-box-shadow: inset 0 1px 0 #052756, 0 1px 0 #60c9f0;
	-o-box-shadow: inset 0 1px 0 #052756, 0 1px 0 #60c9f0;
	box-shadow: inset 0 1px 0 #052756, 0 1px 0 #60c9f0;
}

.back-to-the-beginning::before {
	background-color: #2591b4;
	background-image: url('../img/icon/left_arrow.png');
	background-repeat: no-repeat;
	background-position: center center;
	content: "";
	width: 20px;
	height: 20px;
	position: absolute;
	left: 15px;
	top: 50%;
	margin-top: -9px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	-webkit-box-shadow: inset 0 1px 0 #052756, 0 1px 0 #60c9f0;
	-moz-box-shadow: inset 0 1px 0 #052756, 0 1px 0 #60c9f0;
	-o-box-shadow: inset 0 1px 0 #052756, 0 1px 0 #60c9f0;
	box-shadow: inset 0 1px 0 #052756, 0 1px 0 #60c9f0;
}

.btn-general:active::before {
	top: 50%;
	margin-top: -12px;
	-webkit-box-shadow: inset 0 1px 0 #60c9f0, 0 3px 0 #0e3871, 0 6px 3px #1a80a6;
	-moz-box-shadow: inset 0 1px 0 #60c9f0, 0 3px 0 #0e3871, 0 6px 3px #1a80a6;
	-o-box-shadow: inset 0 1px 0 #60c9f0, 0 3px 0 #0e3871, 0 6px 3px #1a80a6;
	box-shadow: inset 0 1px 0 #60c9f0, 0 3px 0 #0e3871, 0 6px 3px #1a80a6;
}

.btn-general:hover {
	color: white !important;
}

#container_buttons {
	margin-top: 40px;
}

.back-to-the-beginning span {
	margin-left: 20px;
}

.next-level span {
	margin-right: 20px;
}

.circleBase {
	border-radius: 50%;
}
.innerCircle {
	color: orange;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 500px;
	height: 250px;
	box-sizing: border-box;
	margin: -125px 0 0 -250px;
	font-size: 24px;
	padding: 10px;
}
.innerText {
	text-shadow: 1px 1px yellow;
}

.type3 {
	width: 600px;
	height: 600px;
	box-sizing: border-box;
	margin: -300px 0 0 -300px;
	left: 50%;
	top: 50%;
	position: absolute;
	box-shadow: 1px 1px 1px 10p;
}