html, body {
  width: 100vw;
  height: auto;
}

.wrapper:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #00000070;
}
.wrapper {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  background-size: cover, 100% 100%;
  background: url("../img/backround-create-password.png"), rgba(0, 0, 0, 0.90);
  background-position: center center, center center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-content {
  z-index: 1;
  width: 100%;
  max-width: 600px;
  padding: 1rem 2rem;
  background: #ffffffc4;
  border: 1px solid #818583;
  border-radius: 5px;
}

h1 {
  color: #2C7ABE;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  font-weight: bold;
  border-bottom: 3px solid #2C7ABE;
  font-size: 2rem;
  text-align: center;
}

.small {
}
input {
  border-radius: 0px;
  margin-bottom: 1rem;
  background: #ffffffba;
  line-height: 1.5rem;
}
button:hover {
  background: #e74c3c;
}
button {
  width: 100%;
  margin: 6px auto;
  padding: 16px 0;
  cursor: pointer;
  background: #2C7ABE;
  color: #FFF;
  font-weight: bold;
  border: none;
}
.btn-transparent:hover {
  background: none !important;
}
.btn-transparent {
  background: none;
  color: #2C7ABE;
  border: 1px solid #2C7ABE;
}

