body {
	background-color: #000000;
	color: #FFFFFF;
	text-align: center;
	margin: 0;
}

.page-article .layout-container {
	display: flex !important;
}

.menu {
	margin-top: 100px;
	margin-bottom: 50px;
	box-sizing: border-box;
	font-size: 24px;
	padding: 10px;
	font-family: 'Patrick Hand', cursive !important;
}

.introduction-title {
	font-size: 2.5rem;
	background: -webkit-linear-gradient(blue, white);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.introduction-title, .introduction-content {
	color: white;
	padding: 0 100px;
	margin-bottom: 1.7rem;
}

.introduction-content p {
	font-size: 1.2rem;
	margin-bottom: 0;
}

.button {
	border: 2px solid #2e2e2e;
	cursor: pointer;
	letter-spacing: 0.2125rem;
	overflow: hidden;
	padding: 10px 15px;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	transition: 
		background 5s cubic-bezier(0.19, 1, 0.22, 1),
		border 1s cubic-bezier(0.19, 1, 0.22, 1),
		color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
	margin: 10px !important;
	background: -webkit-linear-gradient(blue, white);
	color: black;
	text-decoration: none;
	font-size: 20px;
}

.button .mask {
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.5);
	height: 100px;
	position: absolute;
	transform: translate3d(-120%, -50px, 0) rotate3d(0, 0, 1, 45deg);
	transition: all 1.1s cubic-bezier(0.19, 1, 0.22, 1);
	width: 200px;
}

.button .shift {
	display: inline-block;
	transition: all 1.1s cubic-bezier(0.19, 1, 0.22, 1);
}

.button:hover {
	background-color: rgba(255, 255, 255, 0.05);
	border-color: #fff;
	box-shadow: 0 0 5px rgba(255, 245, 245, 0.8);
	transition: background 0s;
	color: red !important;
}

.button:hover .mask {
	background-color: #fff;
	transform: translate3d(120%, -100px, 0) rotate3d(0, 0, 1, 90deg);
}

.button:hover .shift {
	transform: translateX(5px);
}

body.show {
	background-color: #282828;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  margin-top: 0;
  margin-left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  opacity: 1;
  font-family: 'Patrick Hand', cursive !important;
}

.modal-content {
	margin: 10% auto;
	width: 80%;
	background-color: black;
	border: 3px solid white;
	border-radius: 20px;
	color: white;
}

.close-btn {
  color: white;
  float: right;
  font-size: 30px;
  font-weight: bold;
	margin-right: 10px;
	cursor: pointer;
}

.modal-header div {
	margin: 5px !important;
	font-size: 30px;
}

.modal-header {
	background-image: linear-gradient(blue, black);
	color: white;
	text-align: center;
	text-transform: uppercase;
	border-radius: 20px 20px 0px 0px;
}

.modal-body {
	font-size: 20px;
}

.modal-body p {
	margin-bottom: 0;
	text-align: justify;
	padding: 15px 30px !important;
}

.modal-footerr {
	background-image: linear-gradient(blue,black,blue);
	border-radius: 0px 0px 20px 20px;
	height: 20px;
}

.need-to-login {
	margin-top: auto;
	margin-bottom: auto;
	box-sizing: border-box;
	font-size: 24px;
	padding: 10px;
	font-family: 'Patrick Hand', cursive !important;
}

.hint-form-request {
	width: 500px;
	margin: auto;
}

.hint-form-request label, .hint-form-request input, .hint-form-request textarea, .hint-form-request .current-status  {
	margin-bottom: 10px;
}

.button-remaster {
	height: 40px;
	width: 80px;
	text-transform: uppercase;
	background: -webkit-linear-gradient(blue, white);
	border: none;
	margin-bottom: 20px;
}