/* -------------------------------- 

Primary style

-------------------------------- */
html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  *, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  a {
    color: #2f889a;
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
  }
  
  input, textarea {
    font-size: 1rem;
  }
  input::-ms-clear, textarea::-ms-clear {
    display: none;
  }
  
  /* -------------------------------- 
  
  Main components 
  
  -------------------------------- */
  
  @media only screen {
    .main-nav {
      width: auto;
      height: auto;
      background: none;
      cursor: auto;
    }
   
    .main-nav li {
      display: inline-block;
      margin-left: 1em;
    }
    .main-nav li:nth-last-child(2) {
      margin-left: 2em;
    }
    .main-nav a {
      display: inline-block;
      height: auto;
      line-height: normal;
      background: transparent;
    }
    .main-nav a.cd-signin, .main-nav a.cd-signup {
      padding: .6em 1em;
      border: 1px solid rgba(255, 255, 255, 0.6);
      border-radius: 50em;
      font-size: 20px;
      color: #feffff !important;
      cursor: pointer;
    }
    .main-nav a.cd-signup {
      background: #2C7ABE;
      border: none;
    }
    .main-nav a.cd-signin {
      background: grey;
      border: none;
    }
  }
  
  /* -------------------------------- 
  
  xsigin/signup popup 
  
  -------------------------------- */
  .cd-user-modal {
    position: fixed;
    top: 50px;
    padding-top: 50px;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(52, 54, 66, 0.9);
    z-index: 20;
    overflow-y: auto;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
  }
  .cd-user-modal.is-visible {
    visibility: visible;
    opacity: 1;
  }
  .cd-user-modal.is-visible .cd-user-modal-container {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  
  .cd-user-modal-container {
    position: relative;
    width: 90%;
    max-width: 500px;
    background: #FFF;
    margin: 0.5em auto 10px auto;
    cursor: auto;
    border-radius: 3px;
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    transform: translateY(-30px);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .cd-user-modal-container .cd-switcher {
    height: 30px;
  }
  .cd-user-modal-container .cd-switcher::after {
    clear: both;
    content: "";
    display: table;
  }
  .cd-user-modal-container .cd-switcher li {
    width: 50%;
    float: left;
    text-align: center;
    cursor: pointer;
  }
  .cd-user-modal-container .cd-switcher li:first-child a {
    border-radius: 0 !important;;
  }
  .cd-user-modal-container .cd-switcher li:last-child a {
    border-radius: 0 !important;;
  }
  .cd-user-modal-container .cd-switcher a {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #818583;
    color: #feffff;
  }
  .cd-user-modal-container .cd-switcher a.selected {
    background: white;
    color: #141517;
  }
  @media only screen and (min-width: 600px) {
    .cd-user-modal-container .cd-switcher a {
      height: 50px;
      line-height: 50px;
      font-size: 20px;
    }
    .cd-user-modal-container.clearfix {
      margin-top: 30px;
    }
  }

  @media only screen and (max-width: 599px) {
    .cd-user-modal-container .cd-switcher a {
      height: 30px;
      line-height: 30px;
      font-size: 15px;
    }
    .cd-user-modal-container.clearfix {
      margin-top: 40px;
    }
  }
  
  .cd-form {
    padding: 1.4em;
  }
  .cd-form .fieldset {
    position: relative;
    margin: 1.4em 0;
  }
  .cd-form .fieldset:first-child {
    margin-top: 0;
  }
  .cd-form .fieldset:last-child {
    margin-bottom: 0;
    margin-top: 50px;
  }
  .cd-form label {
    font-size: 0.875rem;
    float: left;
  }
  .cd-form label.image-replace {
    display: inline-block;
    position: absolute;
    left: 15px;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    color: transparent;
    text-shadow: none;
    background-repeat: no-repeat;
    background-position: 50% 0;
  }
  .cd-form label.cd-name {
    background-image: url("../img/icon/user-ninja-solid-v2.svg");
  }
  .cd-form label.cd-email {
    background-image: url("../img/icon/envelope-solid-v2.svg");
  }
  .cd-form label.cd-password {
    background-image: url("../img/icon/lock-solid-v2.svg");
  }
  .cd-form input {
    margin: 0;
    padding: 0;
    border-radius: 0.25em;
  }
  .cd-form input.full-width {
    width: 100%;
  }
  .cd-form input.has-padding {
    padding: 10px 20px 10px 50px;
  }
  .cd-form input.has-border {
    border: 1px solid #d2d8d8;
  }
  .cd-form input.has-border:focus {
    border-color: #343642;
    box-shadow: 0 0 5px rgba(52, 54, 66, 0.1);
    outline: none;
  }
  .cd-form input.has-error {
    border: 1px solid #d76666;
  }
  .cd-form input[type=password] {
    padding-right: 65px;
  }
  .cd-form input[type=submit] {
    margin-top: 6px;
    padding: 16px 0;
    cursor: pointer;
    background: #2C7ABE;
    color: #FFF;
    font-weight: bold;
    border: none;
  }
  .no-touch .cd-form input[type=submit]:hover, .no-touch .cd-form input[type=submit]:focus {
    background: #e74c3c;
    outline: none;
  }
  .cd-form .hide-password {
    display: inline-block;
    position: absolute;
    right: 0;
    padding: 6px 15px;
    border-left: 1px solid #d2d8d8;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 0.875rem;
    color: #343642;
    margin-left: 5px;
    cursor: pointer;
  }
  .cd-form .hide-password.hide-password-off {
    background-image: url("../img/icon/eye-regular-v2.svg");
    background-repeat: no-repeat;
  }
  .cd-form .hide-password.hide-password-on {
    background-image: url("../img/icon/eye-slash-regular-v2.svg");
    background-repeat: no-repeat;
    border: none;
  }
  .cd-form .cd-error-message {
    display: inline-block;
    position: absolute;
    left: -5px;
    bottom: -35px;
    background: rgba(215, 102, 102, 0.9);
    padding: .8em;
    z-index: 2;
    color: #FFF;
    font-size: 0.8125rem;
    border-radius: 0.25em;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
  }
  .cd-form .cd-error-message::after {
    content: '';
    position: absolute;
    left: 22px;
    bottom: 100%;
    height: 0;
    width: 0;
    border-bottom: 8px solid rgba(215, 102, 102, 0.9);
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
  }
  .cd-form .cd-error-message.is-visible {
    opacity: 1;
    visibility: visible;
  }
  @media only screen and (min-width: 600px) {
    .cd-form {
      padding: 2em;
    }
    .cd-form .fieldset {
      margin: 20px 0;
    }
    .cd-form .fieldset:first-child {
      margin-top: 0;
    }
    .cd-form .fieldset:last-child {
      margin-bottom: 0;
    }
    .cd-form input.has-padding {
      padding: 10px 20px 10px 50px;
    }
    .cd-form input[type=submit] {
      padding: 16px 0;
    }
  }
  
  .cd-form-message {
    padding: 1.4em 1.4em 0;
    font-size: 0.875rem;
    line-height: 1.4;
    text-align: center;
    margin-bottom: 0;
  }
  @media only screen and (min-width: 600px) {
    .cd-form-message {
      padding: 2em 2em 0;
    }
  }
  
  .cd-form-bottom-message {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 15px;
    text-align: center;
    font-size: 0.875rem;
  }
  .cd-form-bottom-message a {
    color: #141517;
    text-decoration: underline;
    cursor: pointer;
  }
  
  .cd-close-form {
    display: block;
    position: absolute;
    width: 200px;
    height: 200px;
    right: 0;
    top: -40px;
    background: url("../img/icon/times-solid.svg") no-repeat center center;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
  }
  @media only screen and (min-width: 1170px) {
    .cd-close-form {
      display: none;
    }
  }
  
  #cd-login, #cd-signup, #cd-reset-password {
    display: none;
  }
  
  #cd-login.is-selected, #cd-signup.is-selected, #cd-reset-password.is-selected {
    display: block;
  }
  
  #remember-me {
    float: left;
    margin-right: 5px;
  }

  .omniauth-container {
    padding: 12px 32px 16px 32px;
    font-size: 13px;
    border-radius: 3px;
    background: #f7f7f7;
  }

  label.label-bold {
    font-weight: 600;
  }

  .justify-content-between {
    justify-content: space-between !important;
  }

  .flex-wrap {
    flex-wrap: wrap !important;
  }

  .d-flex {
    display: flex !important;
  }

  .omniauth-container .omniauth-btn {
    width: 48%;
    padding: 8px;
    background-color: #feffff;
    background-image: none;
    box-shadow: none !important;
    border: 1px solid #d9d9d9;
  }

  .omniauth-container .omniauth-btn:hover {
    color: #141517;
    transition-duration: 0s;
  }

  .omniauth-container .omniauth-btn img {
    width: 18px;
    height: 18px;
    margin-right: 16px;
  }
  
  .omniauth-btn span {
    vertical-align: middle;
    line-height: 18px;
  }

  .fieldset.last-e {
    margin-bottom: 50px;
  }

  .omniauth-container label {
    color: #141517;
    line-height: 13px;
    vertical-align: middle;
  }

  input.error-noti {
    border-color: #e74c3c !important;
  }

  #cd-reset-password .cd-form {
    padding-top: 1em !important;
  }