/*RESPONSIVE*/

@media screen and (max-width: 1150px) {
  .isLoginSuccess {
    display: none !important;
  }

  .isLoginSuccess.mobile .user-avatar img {
    margin-right: 0.5rem;
  }
  .isLoginSuccess.mobile .user-avatar {
    display: flex;
  }
  .isLoginSuccess.mobile {
    display: block !important;
  }

  #login {
    display: none !important;
  }

  .isLoginSuccess.mobile .user-name img {
    display: none;
  }
  .isLoginSuccess.mobile p {
    color: white;
    font-size: 1.2rem;
  }
  .isLoginSuccess.mobile .user-avatar {
    background: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
  .isLoginSuccess.mobile {
    padding: 0.5rem;
    border-left: 1px solid #2C7ABE;
    border-right: 1px solid #2C7ABE;
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #F7F7F7;
    /**/
    position: relative !important;
    transform: initial;
    width: 100%;
    top: initial;
    left: initial;
    margin-bottom: 0.5rem;
    border: none;
    background: initial;
  }

  .isLoginSuccess .user-name {
    font-size: 0.8rem;
  }
  .isLoginSuccess .user-avatar {
    width: 24px;
    height: 24px;
  }
  .isLoginSuccess .user-avatar img {}
  .isLoginSuccess .user-name img {
    width: 20px;
  }
  .icon-menu-mobile {
    display: block;
  }
  .page-article .tag-block {
    border-left: none;
  }
  .page-article .ds-right .field__item {
    display: none;
  }
  .page-article .social-share {
    position: fixed;
    top: 50%;
    left: 0;
    bottom: unset;
    display: flex;
    flex-direction: column;
    transform: translateY(-50%);
    padding: 0rem !important;
    width: initial;
    display: none !important;
  }
  .social-share-button i {
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
  }
  .collapse-social-icon {
    display: block;
    text-align: center;
    font-weight: bold;
    position: relative;
    width: 40px;
    height: 40px;
    background: #2A61D6;
    border-radius: 50%;
    line-height: 40px;
    color: white;
    font-size: 1.4rem;
  }
  .page-article .social-share div {
    cursor: pointer;
  }
  .page-article .social-share[showSocialMobile="false"] .icon-collapse-close{
    display: none;
  }
  .page-article .social-share[showSocialMobile="true"] .icon-collapse-open{
    display: none;
  }
  .page-article .social-share[showSocialMobile="false"] .collapse-social-icon {
    left: 60px;
  }
  .page-article .social-share[showSocialMobile="true"] {
    left: 0;

  }
  .page-article .social-share {
    padding: 0.5rem 0.5rem 1rem !important;
    left: -60px;
  }
  .page-article .social-share-button a:not(.have-number) {
    padding-bottom: 0;
  }
  .page-article .social-share-button a {
    padding: 0.5rem;
    margin:0;
    width: initial;
    height: initial;
  }
  .page-article .social-share-button {

  }
  #login {
    display: none;
  }
  header {
    height: initial;
  }
  header .header-logo {
    display: inline-block;
  }
  .header-right-container .expanded-menu-button {
    position: fixed;
    top: -3px;
    right: 30px;
    height: initial;
    width: initial;
  }
  .page-article .social-share {
    background-color: #eceded;
    color: #15abd8;
    margin: 0;
    padding: 1rem;
  }
  .page-article .social-share-button .social-icon {
    margin: 0;
  }
  body .expanded-menu-button .icon-expanded {
    margin-top: 12px !important;
    right: -16px !important;
  }
  body .expanded-menu-button {
    display: block !important;
    position: fixed !important;
    top: 20px;
    right: 30px;
  }
}

@media screen and (min-width: 1151px) {
}


@media screen and (max-width: 1024px) {


  #default-content{
    display: flex;
    flex-wrap: wrap;
  }
  #default-content .primary-content {
    order: 1;
  }
  #default-content > * {
    width: 100%;
  }

  .page-article .tag-block {
    padding: 0px;
  }
  .flex-div.mobile {
    display: block !important;
    margin-top: 0 !important;
    width: 100%;
    float: left !important;
    justify-content: flex-start;
  }
  .flex-div.mobile .tag-block a.text-block {
    padding-right: 0.5rem;
    width: 25%;
  }
  .flex-div.mobile .tag-block a.text-block .simple-text {
    padding: 0.5rem 0;
    margin: 0;
  }
  .flex-div.mobile .tag-block {
    margin: 0 !important;
    border: none;
    width: 100%;
  }
  .flex-div {
    display: none !important;
    margin-top: 1.5rem !important;
    border-bottom: 1px solid #818583;
  }
  .page-article .tag-block {
    justify-content: flex-start;
    display: flex;
    padding: 0;
  }
  a.text-block .simple-text  {
    padding: 0.25rem;
  }
  a.text-block {
    min-width: 120px;
    width: 25%;
    max-width: 300px;
    display: inline-block;
    margin: 0;
  }
  .page-article .ds-wrapper > * {
    width: 100% !important;
  }
  .text-block {
    margin-right: 5px;
  }
  .recommended-articles-widget {
    padding: 10px 30px;
  }
  .pagination li {

  }
  .pagination button, .pagination span {
    height: 1.5rem;
    min-width: 1.5rem;
    font-size: 1rem;
    line-height: 1rem;
  }

}


@media screen and (max-width: 980px) {
  .container {
    width: initial !important;
  }
}
@media screen and (max-width: 979px) {
  .blog-review-article .media-title {
    margin-bottom: 1rem;
  }
  .blog-review-article .media-figure {
    max-width: calc(100% - 75px);
    width: 100%;
    order: -1;
  }
  .media-well--review-multiple.media-well, .media-well--review.media-well {
    min-width: 70px;
    margin-left: 5px;
  }
  .rating-overflow {
    width: 100%;
    margin-left: 0;
  }

  .breakdown.span6 {
    width: 50%;
  }
  .promo-strip__item {
    width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .author-footer-photo {
    width: initial;
    height: initial;
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 768px) {

  .flex-div.mobile .tag-block a.text-block {
    width: 50%;
  }
  .page-article .ds-standard-article {
    padding: 0.5rem;
  }
  .block-comment, .block-reviews {
    padding: 0 0.25rem;
  }

  .header-logo .site-logo img {
    width: 120px;
  }
  .block-login {
    min-width: 150px;
  }

  .block-chat > div {
    width: 100%;
  }
  .block-reviews {
    padding: 0 1rem;
  }
  .review-breakdown__inner > .row {
    padding-right: 0px;
    padding-bottom: 18rem;
  }
  .review-breakdown__inner .breakdown-score .score-word {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  .review-breakdown__inner .breakdown.breakdown-bad,
  .review-breakdown__inner .breakdown.breakdown-good {
    padding: 1rem 10% !important;
  }
  .review-breakdown__inner .breakdown.breakdown-bad dt,
  .review-breakdown__inner .breakdown.breakdown-good dt {
    width: 100%;
    text-align: center;
    margin-left: 0;
  }
  .review-breakdown__inner .breakdown-score {
    bottom: 0px;
    top: unset;
    right: unset;
  }
  .review-breakdown__inner .breakdown {
    width: 100%;
  }
  #default-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .filter-list {
    display: flex;
    flex-wrap: wrap;
  }
  .filter-list__item {
    width: 45%;
    margin: 0;
  }
  #default-content > * {
    flex-grow: 1;
    width: 100%;
  }

  html {
    font-size: 14px !important;
  }
  .page-article .ds-standard-article {
    padding: 1rem;
  }
}

@media screen and (max-width: 759px) {
  .secondary-content {
    padding-left: 15px !important;
  }
  .review-breakdown__inner {
    padding-bottom: 0px;
  }
  /*.breakdown.span6 {*/
    /*float: left;*/
    /*width: 37%;*/
  /*}*/
  /*.review-breakdown__inner .breakdown-score {*/
    /*right: 30px;*/
    /*margin-right: 0;*/
    /*margin-top: 0;*/
    /*top: -50px;*/
  /*}*/
  /*.review-breakdown__inner {*/
    /*padding-bottom: 0;*/
  /*}*/
  .review-breakdown__inner > .row {
    padding-bottom: 12rem;
  }
}

@media (max-width: 759px) {
  .paginate__results {
    display: block;
    width: 100%;
    clear: both;
    margin-bottom: 0.5rem;
  }
}

@media screen and (max-width: 639px) {
  .pagination li {
    line-height: 30px !important;
    height: 30px !important;
    width: 30px !important;
    padding: 4px !important;
}
  .pagination a {
    line-height: 22px !important;
    height: 22px !important;
    min-width: 22px !important;
    max-width: 22px !important;
  }
  .paginationk-list {
    margin-top: 0.7rem;
  }
  .media-article .block-content {
    display: flex !important;
    flex-wrap: wrap;
  }
  .media-article figure {
    width: 100% !important;
  }
  .media-article .media-title {
    margin-bottom: 1rem;
  }
  .media-article .media-body {
    width: 100%;
    padding-top: 1rem;
  }
}
@media screen and (max-width: 603px) {
  /*.review-breakdown {*/
    /*padding-top: 0;*/
  /*}*/
  /*.breakdown.span6 {*/
    /*float: none;*/
    /*width: 100%;*/
    /*padding-top: 0;*/
  /*}*/
  /*.breakdown-good__title, .breakdown-bad__title {*/
    /*text-align: center;*/
    /*margin-left: 0 !important;*/
  /*}*/
  /*.breakdown-good__item, .breakdown-bad__item {*/
    /*padding-left: 10%;*/
  /*}*/
  /*.review-breakdown__inner .breakdown-score {*/
    /*position: static;*/
    /*margin-bottom: 20px;*/
  /*}*/
}

@media screen and (max-width: 599px) {
  .promo-strip .media-title {
    padding-left: 0.5rem;
  }
}
@media screen and (max-width: 525px) {
  .block-login {
    min-width: 50px;
  }
  .comment-avatar {
    width: 40px;
    height: 40px;
    padding: 5px;
  }
  .filter-list__filter {
    padding: 0.5rem;
  }
  .filter-list__item {
    width: 100%;
    margin: 0;
  }
  .review-breakdown__inner .breakdown.breakdown-bad,
  .review-breakdown__inner .breakdown.breakdown-good {
    padding: 1rem 0px;
  }

}
@media screen and (max-width: 500px) {
  .user-account input {
    width: 100% !important;
    max-width: 100% !important;
    margin-right: 0px !important;
  }
  .change-avatar .avatar {
    margin: 0 auto 1rem;
    text-align: center;
  }
  .collapse-change-assword > div {
    width: 100% !important;
    margin-right: 0px !important;
    max-width: 100% !important;
    margin-bottom: 1rem !important;
  }
  .collapse-change-assword {
    flex-wrap: wrap;
  }
  .change-nickname-btn, .change-avatar-btn, .change-password-btn {
    width: 100% !important;
    max-width: 100% !important;
  }
}
@media screen and (max-width: 425px) {
  html {
    font-size: 12px !important;
  }
  .block-chat {
  }
  .block-comment {
    width: 100%;
  }
  .block-reviews {
    width: 100%;
    padding-left: 0;
  }
}