/*RESPONSIVE*/

@media screen and (max-width: 1150px) {
  body.page-article .social-share {
    position: fixed;
    top: 50%;
    left: 0px;
    bottom: unset;
    display: flex;
    flex-direction: column;
    width: 80px;
    transform: translateY(-50%);
    padding: 0rem !important;
    width: initial;
  }
  .social-share-button i {
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
  }
  .collapse-social-icon {
    display: block;
    text-align: center;
    font-weight: bold;
  }
  body.page-article .social-share div {
    cursor: pointer;
  }
  body.page-article .social-share[showSocialMobile="false"] .icon-collapse-close{
    display: none;
  }
  body.page-article .social-share[showSocialMobile="true"] .icon-collapse-open{
    display: none;
  }
  body.page-article .social-share[showSocialMobile="false"] .collapse-social-icon {
    left: 60px;
    position: relative;
    width: 40px;
    height: 40px;
    background: blue;
    border-radius: 50%;
    line-height: 40px;
    color: white;
    font-weight: bold;
    font-size: 1.4rem;
  }
  body.page-article .social-share[showSocialMobile="true"] {
    left: 0px;

  }
  body.page-article .social-share {
    padding: 0px 0.5rem 1rem !important;
    left: -60px;
  }
  body.page-article .social-share-button a:not(.have-number) {
    padding-bottom: 0px;
  }
  body.page-article .social-share-button a {
    padding: 0.5rem;
    margin:0;
    width: initial;
    height: initial;
  }
  body.page-article .social-share-button {

  }
  #login {
    display: none;
  }
  header {
    height: initial;
  }
  header .header-logo {
    display: inline-block;
  }
  .header-right-container .expanded-menu-button {
    position: fixed;
    top: -3px;
    right: 30px;
    height: initial;
    width: initial;
  }
  body.page-article .social-share {
    background-color: #eceded;
    color: #15abd8;
    margin: 0px;
    padding: 1rem;
  }
  body.page-article .social-share-button .social-icon {
    margin: 0;
  }
  body .expanded-menu-button .icon-expanded {
    margin-top: 12px !important;
    right: -16px !important;
  }
  body .expanded-menu-button {
    display: block;
    position: fixed;
    top: 20px;
    right: 30px;
  }
}

@media screen and (min-width: 1151px) {
}


@media screen and (max-width: 1024px) {
  body.page-article .ds-wrapper > * {
    width: 100%;
  }
  body.page-article .tag-block {
    justify-content: flex-start;
  }
  .text-block {
    margin-right: 5px;
  }
  .recommended-articles-widget {
    padding: 10px 30px;
  }
  .pagination li {

  }
  .pagination button, .pagination span {
    height: 1.5rem;
    min-width: 1.5rem;
    font-size: 1rem;
    line-height: 1rem;
  }

}
@media screen and (max-width: 979px) {
  .promo-strip__item {
    width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .author-footer-photo {
    width: initial;
    height: initial;
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 14px !important;
  }
  body.page-article .ds-standard-article {
    padding: 1rem;
  }
}

@media (max-width: 759px) {
  .paginate__results {
    display: block;
    width: 100%;
    clear: both;
    margin-bottom: 0.5rem;
  }
}

@media screen and (max-width: 450px) {
  .slide-in .user-menu a {
    color: #4b4b4b !important;
  }
}
@media screen and (max-width: 425px) {
  html {
    font-size: 12px !important;
  }
  .block-chat {
  }
  .block-comment {
    width: 100%;
  }
  .block-reviews {
    width: 100%;
    padding-left: 0px;
  }
}