body {
  background-color: #000000;
  color: #FFFFFF;
  text-align: center;
  margin: 0;
  overflow: hidden;
}

p {
  color: #CCCCCC;
  font-size: 10pt;
  font-family: Arial;
}

p.clue {
  color: #EEEEEE;
  font-size: 12pt;
  margin-bottom: 35px;
}

.text, img {
  width: 1000px;
  height: 600px;
  box-sizing: border-box;
  margin: -300px 0 0 -500px;
  left: 50%;
  top: 50%;
  position: absolute;
  border-radius: 6px;
}

img.winter {
  border: 2px white solid;
}

img.autumn {
  border: 2px orange solid;
}

img.summer {
  border: 2px red solid;
}

img.spring {
  border: 2px green solid;
}

img.starting {
	border: 2px blue solid;
}

img.final {
	border: 2px purple solid;
}