body {
	background-color: #000000;
	color: #FFFFFF;
	text-align: center;
}

p {
	color: #CCCCCC;
	font-size: 10pt;
	font-family: Arial;
}

p.clue {
	color: #EEEEEE;
	font-size: 12pt;
	margin-bottom: 35px;
}

img {
	width: 100%;
	height: 99.5%;
}

img.winter {
	border: 2px white solid;
}

img.autumn {
	border: 2px orange solid;
}

a:link, a:visited {
	background-color: #f44336;
	color: white;
	padding: 14px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

a:hover, a:active {
	background-color: red;
}