.clearfix::before, .clearfix::after {
  content: '';
  display: block;
  clear: both;
}

html::before,
html::after {
  clear: both;
}
html {
  font-family: 'Alegreya Sans', Arial, sans-serif !important;
  font-size: 16px !important;
}
html, body {
  width: 100%;
  height: initial;
  margin: 0;
  padding:0;
  border:none;
}
body {
}
p {
  font-size: 1rem;
}

h2 {
  font-size: 1.6rem;
}

.social-share-button i {
  color: black;
  font-size: 12px;
  float: right;
  position: absolute;
  left: 26px;
  top: 12px;
  letter-spacing: 0;
  font-weight: bold;
}

.social-share-button .social-icon.upvote {
  /*-webkit-mask: url("../img/icon/thumbs-up-solid.svg") no-repeat 100% 100%;*/
}

.social-share-button .social-icon.downvote {
  /*-webkit-mask: url("../img/icon/thumbs-down-solid.svg") no-repeat 100% 100%;*/
}

.social-share-button .social-icon.share {
  /*-webkit-mask: url("../img/icon/facebook-brands.svg") no-repeat 100% 100%;*/
}

.social-share-button .social-icon.comment {
  /*-webkit-mask: url("../img/icon/comments-solid.svg") no-repeat 100% 100%;*/
}

.social-share-button .social-icon.bookmark {
  /*-webkit-mask: url("../img/icon/bookmark-solid.svg") no-repeat 100% 100%;*/
}

.ad-299 {
  padding: 1rem 0.5rem;
  text-align: left;
  height: calc(100vh - 350px);
  max-height: 400px;
  overflow-y: scroll;
}

.footer-custom-logo {
  background-image: url("../img/icon/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  background-position: center;
  min-height: 100px;
  overflow: hidden;
  text-indent: -9999px;
  display: block;
  margin: 5px auto 15px;
}

.d-none {
  display: none !important;
}

#default-content .promo-strip__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

#default-content .promo-strip__list li {
  margin: 0;
}

a.text-block {
  color: black !important;
  text-align: center;
  width: 100%;
}

.alert-text {
  margin-bottom: 5px !important;
}

.platform-color {
  background-color: #59e248;
}

.type-color {
  background-color: #4799e0;
}

.brand-color {
  background-color: #ffc355;
}

.genre-color {
  background-color: #cf72ff;
}

.river .media:not(:first-child) {
  background-image: url('../img/border-repeat-x.png');
  background-position: top;
  background-repeat: repeat-x;
}

.reviews-list {
  list-style: none;
  margin: 0;
}

.reviews-list li {
  margin: 0;
}

#block-copyright {
  margin: 0;
}

#expanded-menu input[type="text"] {
  height: 40px;
  font-size: 20px;
  line-height: 20px;
  padding-left: 32px;
}

.hamburger-middle {
  font-size: 16px;
}

.menu--hamburger-menu li a {
  line-height: 26px;
  margin-bottom: 3px;
}

.hamburger-top .icon-search {
  position: absolute;
  left: 0;
  bottom: 16px;
  width: 26px !important;
  height: 26px;
}

.owl-theme .owl-nav {

}

.owl-theme .owl-nav button span {
}

.owl-theme .owl-nav button:hover {
  color: #2C7ABE !important;
  width: 150px;
}

.owl-theme .owl-nav button {
  transition-duration: 0.3s;
  position: absolute;
  font-size: 80px !important;
  color: #feffff78 !important;
  width: 100px;
  height: 100%;
  top: 0;
  margin: 0 !important;
  background: none !important;
}

#default-content .owl-theme .owl-nav .owl-prev:hover {
  background-image: linear-gradient(to right, rgba(5, 0, 0, 0.70), transparent) !important;
}

#default-content .owl-theme .owl-nav .owl-prev {
  left: 0;
  text-align: left;
  padding-left: 32px !important;
  background-image: linear-gradient(to right, rgba(5, 0, 0, 0.15), transparent) !important;
}

#default-content .owl-theme .owl-nav .owl-next:hover {
  background-image: linear-gradient(to left, rgba(5, 0, 0, 0.70), transparent) !important;
}

#default-content .owl-theme .owl-nav .owl-next {
  right: 0;
  text-align: right;
  padding-right: 32px !important;
  background-image: linear-gradient(to left, rgba(5, 0, 0, 0.15), transparent) !important;
}

.owl-theme .owl-nav {
  margin: 0;
}

.page-article {

}

.page-article main {
  margin-top: 60px;
}

.page-article .field--name-dynamic-block-fieldnode-content-bug .bug-text {
  font-size: 1.2rem;
  padding: 8px;
}

.page-article h1 {
  font-size: 2.5rem;
}

.page-article .ds-standard-article .author-details {
  font-size: 1rem;

}

.page-article .social-share {
  font-size: 17px;
  margin: 0 0 2rem 0;
  flex: 20%;
}

.page-article .social-share-button .social-icon {
  height: 24px;
  width: 24px;
  background: none;
}

.page-article .social-share-button:not(:last-of-type) {
  margin: 0 0 10px 0;
}
.page-article .social-share-button {
  float: left;
  position: relative;
}

.page-article .ds-right .field__item h2::before,
.page-article .ds-right .field__item h2::after {
  /*content: '';*/
  display: block;
  position: absolute;
  border-bottom: 1px solid black;
  top: 50%;
  width: 1000px;
}

.page-article .ds-right .field__item h2::before {
  left: calc(100% + 10px);
}

.page-article .ds-right .field__item h2::after {
  right: calc(100% + 10px);
}

.page-article .ds-right .field__item h2 {
  position: relative;
  margin-bottom: 0 !important;
  display: inline-block;
  margin-left: 30px;
}

.page-article .ds-right .field__item {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  overflow: hidden;
}

.page-article .ds-right .scroll-animated {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  padding-left: 0.5rem;
  border-left: 1px solid transparent;
}
.page-article .ds-right .scroll-animated.active {
  border-left: 1px solid #141517;
  font-weight: bold;
}
.page-article .ds-right {
  width: 27%;
  float: right !important;
  padding-left: 0;
  z-index: 6;
}

.page-article .ds-header {
  margin: 1rem auto 2rem;
  width: 100%;
}

.page-article .ds-main {
  width: 70%;
  font-size: 1.1rem;
  float: left;
}

.page-article .ds-wrapper > * {
  display: block;
  float: left;
  z-index: 5;
}

.page-article .ds-wrapper {
  margin: 15px auto;
  display: block;
}

.page-article h2 {
  font-size: 1.6rem;
  margin-bottom: 24px !important;
}

.page-article .author-footer-social a {
  height: 20px;
  width: 20px;
}

.page-article .recommended-articles-widget .article-section.bug-wrapper {
  padding: 8px;
  font-size: 1.2rem;
}

.page-article .page-title {
  font-size: 2rem;
  line-height: 2.5rem;
  margin: 15px 15px 5px !important;
}

.page-article .fb-comments {
  text-align: center;
  width: 100%;
}

.page-article .author-details {
  padding-bottom: 1.8rem;
}

.page-article #comments-toggle {
  padding: 10px;
  font-size: 1.1rem;
}

.page-article .ds-footer {
  min-width: 100%;
}

.page-article .wrapper-footer {
  width: 60%;
  min-width: 290px;
  margin: auto;
}

.page-article .alert-text {
  margin-bottom: 5px !important;
  line-height: 36px;
  font-size: 1rem;
  text-transform: uppercase !important;
}

.page-article .tag-block {
  flex: 78%;
  margin: 0 0 2rem 0;
  flex-wrap: wrap;
  justify-content: space-between;
  float: right !important;
  border-left: 1px solid #818583;
  padding-left: 1rem;
}

.page-article .ds-standard-article {
  max-width: 1170px;
  margin: 0 auto;
  padding: 1rem 1.5rem;
  background-color: #feffff;
}

.page-article .full-width img {
  max-width: 100%;
}

.page-article .author-footer {
  margin: 30px auto;
  padding: 20px;
}

.page-article .ds-footer-full .article-title {
  font-size: 1.2rem;
  line-height: 1.6rem;
  margin: 10px 10px 5px !important;
}

.page-article .footer-social-links .social-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
  background-size: 20px;
}

.page-article .social-share-buttons {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

body .expanded-menu-button {
  display: none;
}

.page-article .layout-container {
  display: block;
}

.page-article .slick-prev, .slick-next {
  height: 100%;
}

.page-article {


}

.page-blog .pod-header--tabs .pod-header__filters--tabs > a {
  box-shadow: none !important;
  font-size: 1.5rem !important;
  font-weight: bold;
}

.page-blog .media-title {
  font-size: 1.2rem !important;
  color: #141517;
  max-height: 2em;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.page-blog .pod {
  margin-bottom: 0;
}

.footer-social-links .social-icon {
  width: 2rem;
  height: 2rem;
  background-size: 2rem;
}

.region-footer .block p:last-of-type {
  font-size: 1rem;
}

#expanded-menu a {
  font-size: 1.2rem !important;
}

.page-blog {

}

.page-article .recommended-articles-widget .teaser {
  padding: 0;
}

.page-article .recommended-articles-widget .teaser-left {
  max-width: 100%;
}

#account-dropdown .user-menu > ul > li a {
  height: 100%;
  padding: 0 30px;
  line-height: 34px;
  background: #fffffe;
  color: #2C7ABE !important;
  font-weight: bold;
  position: relative;
  transition: box-shadow 0.1s;
  box-shadow: inset 0 0 20px #0089ff10, 0 0 20px #0088ff05;
  border: 1px solid transparent;
}

#account-dropdown .user-menu > ul > li a:hover {
  box-shadow: inset 0 0 20px #0089ff59, 0 0 20px #0088ff3d;
  transition: box-shadow 0.5s;
  border: 1px solid rgb(44, 122, 190);
}

#account-dropdown .user-menu > ul > li a::before {
  content: '';
  display: block;
  position: absolute;
  left: 50%; /*border cuả th cha*/
  top: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  border: 1px solid rgba(44, 122, 190, 0.91);
  border-radius: 50em;

}
#account-dropdown .user-menu > ul > li a:hover::before {
  transition-timing-function: ease-out;
  width: calc(100% + 2rem);
  transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  height:  calc(100% + 1.2rem);
  opacity: 0;
}
#account-dropdown .user-menu > ul > li {
  padding: 3px;
  height: 100%;
  display: flex;
  justify-content: center;
}

#account-dropdown .user-menu > ul {
  display: flex;
  align-items: center;
  height: 100%;
}

.page-article .views-element-container {
  padding: 1.2rem 0;
}

#block-exposedformsearch-contentpage-1 .js-form-item {
  display: flex;
}

.font-arima {
  font-family: 'Arima Madurai', cursive;
}

.menu--main li {

  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  white-space: nowrap;
}

.menu--main li a {
  font-size: 1.2rem;
  font-weight: bold;
}

.flex-div {
  display: flex;
}

.media-date {
  font-size: 0.8rem;
  color: #818583;
}

.game--top-games .game-meta--date {
  font-size: 0.8rem;
}

.page-reviews input[type="text"] {
  border-radius: 0;
}

.page-reviews select {
  border: 1px solid #888;
  line-height: 1.5rem;
}

.page-reviews .form-composite > legend, .label {
  font-size: 0.65rem;
}

#expanded-menu .user-loggedout a {
  border-bottom: none;
  color: #d9d9d9;
  padding: 0;
  line-height: 34px;
  width: 98%;
  font-size: 1rem !important;
  text-align: center;
}

.breakdown-good__item svg {
  fill: #2C7ABE;
}
.breakdown-bad__item svg {
  fill: #e74c3c;
}
.breakdown-good__item, .breakdown-bad__item {
  font-size: 1.1rem;
  line-height: 2rem;
}

.rating-overflow {
  width: 500%;
  margin-left: -200%;
}
.review-breakdown__inner dt.breakdown-good__title,
.review-breakdown__inner dt.breakdown-bad__title {
  white-space: nowrap;
  font-size: 2rem;
  margin-left: 2rem;
  margin-bottom: 1rem;
}
.review-breakdown__inner dt.breakdown-bad__title {
  color: #e74c3c;
}
.review-breakdown__inner dt.breakdown-good__title span {
  color: #2C7ABE;
}

.review-breakdown__inner {
  background: #141517;
}

/*css comment*/

.block-chat {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.block-title {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #818583;
  padding-bottom: 0.5rem;
  margin-top: 5px;
}

.block-title span {
  padding-left: 3%;
  flex-grow: 1;
  position: relative;
}

.block-comment,
.block-reviews {
  width: 50%;
  padding: 0 1rem;
  float: left;
}
.block-comment--comments {
  background: #eff2f4;
  margin-bottom: 0.5rem;
  padding: 0.8rem;
}
.block-reviews {
  padding-left: 5%;
  float: right;
}

.comment-avatar {
  float: left;
  margin-right: 1rem;
}
.comment-follow > img {
  background-size: 1rem 1rem;
}
.comment-follow > span {
  font-size: 1rem;
}
.comment-follow {
  float: right;
  height: 1rem;
  display: flex;
  align-items: center;
}
.comment-avatar > img {
  border-radius: 50%;
  object-fit: cover;
  background-position: center center;
}

.author-info strong {
  padding-right: 3%;
}
.author-info {
  padding-left: 2%;
  font-size: 1rem;
  color: #818583;
  flex-grow: 1;
}
.comment-text p {
  margin-bottom: 0.5rem;
}
.comment-text {
  padding-left: 2%;
  padding-top: 0.25rem;
}

.block-reviews--auth {
  font-size: 1rem;
  color: #818583;
  margin-bottom: 0.25rem;
}
.block-reviews--auth span {
}
.block-reviews--comment:last-of-type {
}
.block-reviews--comment {
  border-bottom: 1px solid #818583;
  margin-bottom: 1.5rem;
}
.block-comment-text {
  display: flex;
  flex-wrap: wrap;
}

.btn-login-to-comment {
  width: 100%;
  padding: 1rem;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  position: absolute;
  bottom: 0;
  left: 0;
  border: none;
  background: #2C7ABE;
  color: #feffff;
  border-top: 0.5rem solid white;
}
.list-comment {
  max-height: 400px;
  overflow-y: scroll;
  margin-bottom: 60px;
}

.rating-review {
  font-size: 1rem;
  display: flex;
  align-items: center;
  float: right;
}
.review-title {
  margin-bottom: 0.5rem;
}

.review-content {
  margin-bottom: 0.5rem;
}

.list-comment-review {
  max-height: 400px;
  overflow-y: scroll;
  margin-bottom: 60px;
}

.btn-readmore-review:hover {
  background: #2C7ABE;
  color: #feffff;
  transition-duration: 0.1s;
  border-color: #2C7ABE;
}
.btn-readmore-review {
  text-align: right;
  font-weight: bold;
  font-size: 1.2rem;
  color: #2C7ABE;
  background: none;
  float: right;
  border: 1px solid #2C7ABE;
  padding: 0.5rem 1rem;
}
.btn-load-more-comment:hover {
  transition-duration: 0.1s;
  color: #feffff;
  background: #2C7ABE;
}
.btn-load-more-comment {
  width: 100%;
  padding: 0.5rem;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  border: 1px solid #2C7ABE;
  background: white;
  color: #2C7ABE;
}

/*end css comment*/

/* css config */
.config-wrapper {
  margin-top: 30px;
  width: 100%;
}

.config-tab-wrapper {
  width: 40%;
  margin: auto;
  height: 50px;
}

.config-tab {
  float: left;
  width: 50%;
  height: 100%;
  text-align: center;
  margin: auto;
  line-height: 50px;
  font-size: 28px;
  background: #fffffe;
  color: #2C7ABE !important;
  font-weight: bold;
  transition: box-shadow 0.1s;
  box-shadow: inset 0 0 20px #0089ff10, 0 0 20px #0088ff05;
  border: 1px solid #2C7ABE;
}

.config-tab.active {
  background-color: #2C7ABE;
  color: #fff !important;
}

.config-footer {
  margin-top: 0 !important;
  text-align: center;
}

@media screen and (max-width: 991px) {
  .config-tab {
    font-size: 16px;
  }
}

@media screen and (max-width: 375px) {
  .config-tab-wrapper {
    width: 100%;
  }
}

/*end css config*/

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2C7ABE;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e74c3c;
}

/*css pagination*/

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: .54;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

.clear:after, .pagination:after, .clear:before, .pagination:before {
  content: "";
  display: table;
}
.clear:after, .pagination:after {
  clear: both;
}
.pagination::before {
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 17%, rgba(0, 0, 0, 0.1) 83%, rgba(0, 0, 0, 0) 100%);
  position: absolute;
  width: 100%;
  height: 0px;
  top: 0px;
  left: 0px;
}
.pagination__wrapper {
  position: relative;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 );
  text-align: center;
  width: 100%;
  margin: 0.5rem 0;
}
.pagination__wrapper:before, .pagination__wrapper:after {
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 17%, rgba(0, 0, 0, 0.1) 83%, rgba(0, 0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=1 );
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  width: 100%;
}
.pagination__wrapper:before {
  top: -1px;
}
.pagination__wrapper:after {
  bottom: -1px;
}

@-webkit-keyframes hoverAnimation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes hoverAnimation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  max-height: 50px;
}
.pagination li {
  display: block;
  float: left;
  padding: 5px;
}
.pagination li:first-child {
  border: none;
}
.pagination a, 
.pagination span {
  background: none;
  border: none;
  border-radius: 50%;
  box-sizing: border-box;
  color: #818583;
  font-weight: bold;
  display: block;
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  min-width: 40px;
  padding: 0;
}
.pagination a {
  outline: none;
  position: relative;
  transition: all 170ms linear;
}
.pagination a:before {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  content: "";
  cursor: pointer;
  height: 0;
  left: 50%;
  opacity: 0;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: all 170ms linear;
  top: 50%;
  width: 0;
}
.pagination a:hover:not(.active) {
  color: black;
}
.pagination a:hover:not(.active):before {
  -webkit-animation: hoverAnimation 510ms linear forwards;
  animation: hoverAnimation 510ms linear forwards;
  height: 40px;
  width: 40px;
}
.pagination li.active a {
  background: #eee;
  color: #e03800;
}
.pagination .prev,
.pagination .next {
  font-size: 14px;
}

/*end pagination css*/

.nav-active {
  color: #2C7ABE !important;
}
.menu--main li a:hover {
  color: #2C7ABE !important;
  transition-duration: 0s;
}

.pod-footer > a {
  color: #2C7ABE;
}
.media-body {
  color: #141517;
}

.header-logo {
  width: initial;
  position: absolute;
  top: 0;
  left: 0;
}
.header-logo .site-logo img {
  object-fit: contain;

}
.header-nav {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: initial;
}
.header-right-container {
  position: absolute;
  top: 0;
  right: 0;
  width: initial;
}
.header-icon.search-button {
  height: 48px;
}
.block-login {
  height: 100%;
  min-width: 180px;
}
#login {
  height: 100%;
  display: flex;
  align-items: center;
}
.isLoginSuccess a {
  display: block;
}
.isLoginSuccess p {
  margin: 0;
}
.isLoginSuccess .list-menu > a::before {
  content: '>';
  display: block;
  position: absolute;
  left: -40px;
  transition: 0.2s ease-in;
  background: url("../img/arrow.png") no-repeat;
  background-size: contain;
  width: 30px;
  height: 17px;
}
.isLoginSuccess .list-menu > a:hover::before {
  left: -5px;
  animation: rotateZ infinite 1s linear;
}
.isLoginSuccess .list-menu > a:hover {
  padding-left: 2rem;
  background: #eff2f4;
}
.isLoginSuccess .list-menu > a {
  border-left: 3px solid transparent;
  background: white;
  color: #2C7ABE;
  display: block;
  line-height: 1rem;
  margin: 0.5rem 0;
  padding: 0.5rem 1.2rem;
  transition: ease-out 0.1s;
  position: relative;
}
.isLoginSuccess .list-menu {
  width: 100%;
  overflow: hidden;
  background: white;
  display: none;
  position: absolute;
  top: 100%;
  right: 3px;
  border-left: 3px solid #2C7ABE;
}
.isLoginSuccess:hover .list-menu{
  display: block;
}
.isLoginSuccess .user-avatar {
  width: 35px;
  height: 35px;
  margin-right: 0.5rem;
}
.isLoginSuccess .user-avatar img {
  width: 100%;
  border: 1px solid #eff2f4;
  border-radius: 50%;
  height: 100%;
  object-fit: contain;
  background-position: center center;
}
.isLoginSuccess.mobile {
  display: none;
}
.isLoginSuccess .user-name img {
  margin-left: 0.8rem;
}
.isLoginSuccess .user-name {
  color: #2C7ABE;
  display: flex;
  align-items: center;
}
.isLoginSuccess {
  position: relative;
  border-left: 3px solid #2C7ABE;
  height: 35px;
  cursor: pointer;
  padding: 5px;
  padding-right: 1rem;
  display: flex;
  align-items: center;
}
@keyframes rotateZ {
  from {
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  to {
    -moz-transform: rotateX(-360deg);
    -ms-transform: rotateX(-360deg);
    transform: rotateX(-360deg);
  }
}
#login a {
  display: block;
  white-space: nowrap;
  width: initial;
  margin: 5px 1rem 0 !important;
  padding: 10px 0;
  line-height: 20px;
  color: #2C7ABE;
  position: relative;
}
#login .btn-signin::after {
  position: absolute;
  content:'';
  right: -1rem;
  top: 0;
  height: 100%;
  width: 1px;
  background: #2C7ABE;
}

.cursor-pointer:hover {
  color: #e74c3c;
}
.cursor-pointer {
  cursor: pointer;
}
.block-ad-299 {
  padding: 0.5rem 0;
  border-top: 1px solid #eff2f4;
  border-bottom: 1px solid #eff2f4;
  margin-top: 10px;
}

.text-editer {
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #818583;
  border-radius: 0;
}
#text-editer-comment {
  box-shadow: none;
  width: 100%;
  min-height: 62px;
  border: 1px solid #eff2f4;
  border-radius: 0;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}
.btn-submit-comment {
  float: right;
  padding: 0.25rem 0.5rem;
  font-size: 1.2rem;
  border-radius: 3px;
  border: 1px solid #2A61D6;
  color: #2A61D6;
  background-color: #fffffe;
}


/*css button submit comment*/

.effect-hover-1 {
  height: 100%;
  padding: 0 auto;
  line-height: 28px;
  background: #fffffe;
  color: #2C7ABE !important;
  font-weight: bold;
  position: relative;
  transition: box-shadow 0.1s;
  box-shadow: inset 0 0 10px #0089ff10, 0 0 10px #0088ff05;
  border: 1px solid transparent;
}

.effect-hover-1:hover {
  box-shadow: 0 0 10px #0089ff59, 0 0 10px #0088ff3d;
  transition: box-shadow 0.5s;
  border: 1px solid rgb(44, 122, 190);
}

.effect-hover-1::before {
  content: '';
  display: block;
  position: absolute;
  left: 50%; /*border cuả th cha*/
  top: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  border: 1px solid rgba(44, 122, 190, 0.91);

}
.effect-hover-1:hover::before {
  transition-timing-function: ease-out;
  width: calc(100% + 2rem);
  transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  height:  calc(100% + 1.2rem);
  opacity: 0;
}
/*end css button submit comment*/


.float-right {
  float: right !important;
}
.collapse-social-icon {
  display: none;
}
.pod-header.has-feed-group.no-layout {
  padding-right: 0 !important;
}
.social-share-button {
  margin: 0;
}
#search-dropdown .x-close {
  position: absolute;
  right: 1rem;
  top: 10px;
  line-height: 30px;
  color: #e74c3c;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  width: 30px;
  height: 30px;
  border: 2px solid transparent;
  text-align: center;
  border-radius: 50%;
}
#search-dropdown .x-close:hover {
  transition-duration: 0.3s;
  border-color: #e74c3c;
  /*transform: rotateZ(180deg);*/
}
body[modal-search="true"] #search-dropdown::before {
}
#search-dropdown {
  display: block;
  padding-right: 2rem;
  background-color: #fffffe;
  transition-duration: 0.3s;
  position: fixed;
  top: -80px;
  z-index: 9999;
  left: 50%;
  width: 100%;
  max-width: 1000px;
  transform: translateX(-50%);
}
body[modal-search="true"] #search-dropdown{
  top: 0;
}


body[modal-search="true"] {
  overflow: hidden;
  position: relative;
}
body[modal-search="true"] #navbar::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.7);
}
body[modal-search="true"]::before{
z-index: 99;
  content: '';
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 200vh;
  background-color: rgba(0,0,0,0.8);
  right: 0;
  bottom: 0;
  transform: translate(-50%, -50%);
}
#edit-keyword {
  border-bottom-color: #2C7ABE;
}

.review-pusher {
  margin-top: 10px;
  min-height: 50px;
}

.review-pusher-item {
  float: right;
  width: 49%;
  max-height: 36px;
}

.review-pusher-item:not(:first-child) {
  float: left;
  width: 45%;
}

.review-pusher-item select {
  width: 100%;
  background: #fcfcfd url('../img/icon/blue-triangle.png') right center no-repeat !important;
  max-height: 35px;
  line-height: 30px;
  font-weight: bold;
  font-size: 1.2rem;
  border: 1px solid transparent;
}

.block-fixed.show-social {
  display: block;
  right: 1rem;
}
.block-fixed {
  transition-duration: 0.3s;
  position: fixed;
  right: -300px;
  bottom: 3.5rem;
  box-shadow: 1px 1px 8px 0 grey;
  border-radius: 5px;
  z-index: 2222;
  background-color: #fffffe;
}

.icon-menu-mobile {
  display: none;
  cursor: pointer;
  padding: 0.5rem;
  position: fixed;
  z-index: 2222;
  right: 5%;
  bottom: 1rem;
  background-color: #fffffe;
  border: 1px solid #2C7ABE;
  border-radius: 5px;
}
.icon-menu-mobile span:not(:last-child) {
  margin-bottom: 4px;
}
.icon-menu-mobile span {
  width: 1rem;
  border-bottom: 3px solid #2C7ABE;
  display: block;
}

.block-fixed .list-outline .ad-299  .scroll-animated.active {
  border-left: 2px solid #2C7ABE;
}
.block-fixed .list-outline .ad-299  .scroll-animated {
  padding-left: 0.25rem;
}
.block-fixed .list-outline .ad-299 {
  overflow-y: scroll;
  max-height: 250px;
  padding: 0 0.5rem;
}
.block-fixed .list-outline {
  padding: 0.5rem 0;
}
.block-fixed .list-social-mobile a {
  padding: 0.5rem;
}
.block-fixed .list-social-mobile {
  border-bottom: 1px solid #2C7ABE;
}

@media screen and (max-width: 639px) {
  .breakdown.span6 {
    width: 50%;
  }
}

.page-search #default-content {
  padding-top: 100px;
}

.page-search .divider input {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.filter-list__label {
  font-size: 1rem;
}

.filter-list__filter > select {
  font-size: 1rem;
}

#default-content .view-header h2 {
  line-height: 3rem;
  margin-bottom: 0px !important;
}
#default-content {
  background-color: #fffffe;
  padding: 0;
}
.promo-strip {
  background-color: #eff2f4;
}
.promo--container .promo--object {
  width: 100%;
}
.promo--container {
  padding: 0;
}
.promo-strip.span12 {
  padding: 0;
}
.cd-form-bottom-message {
  bottom: 10px;
}

#cd-signup .custom-btn-login input,
#cd-login .custom-btn-login input,
#cd-reset-password .custom-btn-login input {
  height: 100%;
  padding: 0;
}
#cd-login .custom-btn-login,
#cd-signup .custom-btn-login,
#cd-reset-password .custom-btn-login {
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 100%;
  height: 40px;
  margin: 0;
  padding: 0;
  max-width: 400px;
  transform: translate(-50%, 50%);
}
#cd-reset-password .fieldset:last-of-type {

}
#cd-reset-password .mb-3 {
  margin-bottom: 3rem;
}
.p-0 {
  padding:0px !important;
}
main {
  padding-bottom: 0px;
}

.flex-div.mobile {
  display: none;
}

.media-figure--has-rhythm img {
  width: 100%;
  min-height: 100px;
  max-height: 200px;
  object-fit: cover;
  background-position: center center;
}
.text-orange {
  color: #e74c3c !important;
}
.comment-avatar {
  width: 45px;
  height: 45px;
  padding: 3px;
  object-fit: cover;
  border-radius: 50%;
  background-color: #eff2f4;
}

.toast.active {
  right: 3rem;
  transition-duration: 0.5s;
}
.toast {
  max-width: 400px;
  position: fixed;
  right: -320px;
  transition-duration: 2s;
  bottom: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  z-index: 222222;
  background: #2C7ABE;
  font-size: 1.2rem;
  color: white;
}

.toast .other-effect:not(.mario) {
  display: none;
}
.toast .other-effect.mario img:nth-child(1) {
  position: absolute;
  bottom: 0px;
  width: 60px;
  right: 0px;
  transform: translate(85%, 5px) rotateY(180deg);
}
.toast .other-effect.mario img:nth-child(2) {
  position: absolute;
  bottom: 0px;
  width: 40px;
  left: 0px;
  transform: translate(-105%, 3px) rotateY(180deg);
}

.page-blog .river .media-figure img {
  max-width: 100%;
  height: 200px;
  object-fit: cover;
  background-position: center center;
}

.river .media-figure--medium {
  max-width: 40%;
  width: initial;
  min-width: 200px;
}

/*css thể loại của bài viết*/

.type-of-article {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 40px !important;
  height: 40px !important;
}
.type-of-article > * {
  display: none !important;
}
.type-of-article.news .news {
  display: block !important;
}
.type-of-article.review .review {
  display: block !important;
}
.type-of-article.walkthrough .walkthrough {
  display: block !important;
}
.owl-carousel .type-of-article img {
  max-height: 40px !important;
}
.type-of-article img {
  width: 100% !important;
  height: 100% !important;
  min-height: 40px !important;
  max-height: 40px !important;
  object-fit: contain !important;
  background: #ffffffbd;
  padding: 2px;
  border-radius: 50%;
  border-top-left-radius: 0;
}
/*end type of article*/

.owl-carousel .owl-item img {
  height: 200px !important;
  object-fit: cover;
  background-position: center center;
}

.content-wrapper {
  padding-top: 40px;
}
.page-article .full-width img {
  width: 100%;
  max-height: 450px;
  object-fit: cover;
  background-position: center center;
}

/*modal change password*/
.modal-change-password .content-modal {
}
.modal-change-password p {
  margin-bottom: 0px;
}
.modal-change-password-error {
  color: red;
}

.modal-change-password input {
  margin-bottom: 1rem;
  border-radius: 0px;
}
.modal-change-password label {
  font-weight: bold;
  margin-bottom: 0px;
  color: #2c7abe;
}
.dev-test {
  position: fixed;
  right: 0px;
  bottom: 0px;
  z-index: 9999;
  opacity: 0.5;
  width: 150px;
}
.dev-test input {
  background: rgba(44, 122, 190, 0.4);
  color: black;
  border: 1px solid #2C7ABE;
}
.col-6 {
  width: 50%;
  float: left;
}
.text-blue {
  color: #2C7ABE;
}
.modal-password-footer button {
  margin-bottom: 0.5rem;
  background: white;
  border: 1px solid #2c7abe;
  color: #2c7abe;
  padding: 0.5rem 0px !important;
}
.modal-password-footer button:hover {
  background: white;
}
.modal-password-footer .col-6{
  padding: 5px;

}
/*end modal change password*/

/*page user-account*/
.user-account-wrapper .update-info:hover {
  background: #e74c3c;
}
.user-account-wrapper .update-info {
  width: 100%;
  margin: 1rem auto;
  padding: 16px 0;
  cursor: pointer;
  background: #2C7ABE;
  color: #FFF;
  font-weight: bold;
  border: none;
}
.user-account-wrapper p {
  margin-bottom: 0px;
  font-weight: bold;
  color: #2c7abe;
}
.user-account-wrapper {
  max-width: 600px;
  margin:auto;
  background: white;
  border-radius: 5px;
  border: 1px solid #818583;
  padding: 0.5rem 1rem;
}
.user-account input[type='file'] {
  border:none !important;
}
.user-account input {
  width: 100%;
  background: white;
  border-bottom: 1px solid #818583;
  color: black;
}
.user-account {
  min-width: 100%;
  margin: 60px 0 10px;
  flex-grow: 1;
}
.change-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px solid #818583;
}
.change-avatar input[] {

}

.change-avatar {
  position: relative;
}
.change-nickname {}
/*end page user-accout*/

.page-article .ds-main blockquote::before {
  content: none !important;
}
.change-password {
  border-bottom: 1px solid #818583;
}

.btn-loadmore:hover {
}
.btn-loadmore {
  background: white !important;
  margin: 0.5rem 0;
  width: 100%;
  padding: 0.5rem 0 !important;
  text-align: center;
}

.pod-filter .filter-results.grid .media-game .media-figure img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

/*fix css article icon*/
.social-share-button a:hover .social-icon {
  background: none;
}
.ds-right .social-share-button:hover svg,
.ds-right .social-share-button:hover i {
  fill: #2c7abe;
  color: #2c7abe;
}
.ds-right .social-share-button svg {
  width: 24px;
  height: 24px;
  fill: #141517;
}
.page-article .social-share-button .social-icon {
  background: none !important;
}
.icon-search {
  background: none !important;
}
.icon-search svg {
  width: 24px;
  height: 24px;
  background: none;
  fill: #2c7abe;
  display: block;
}

svg {
  background: none;
  fill: #141517;
}

.icon-expanded svg {
  display: block;
  width: 24px;
  height: 24px;
}
.icon-expanded {
  background: none;
}
.page-user-account .layout-container {
}

.header-icon.close > div {
  background: none !important;
}
.slide-in {
  padding: 4rem 1.5rem 1.5rem;
}

.user-account-page {
  text-transform: uppercase;
  display: block;
  color: #d9d9d9 !important;
  padding-top: 0.5rem;
  border-top: 1px solid #d9d9d9;
}
.isLoginSuccess.mobile {
  display: none;
}