.clearfix::before, .clearfix::after {
  content: '';
  display: block;
  clear: both;
}
html {
  font-family: "HelveticaNeue", "Times New Roman", Serif;
}

.social-share-button .social-icon.upvote {
  -webkit-mask: url("../img/icon/thumbs-up-solid.svg") no-repeat 100% 100%;
}

.social-share-button .social-icon.downvote {
  -webkit-mask: url("../img/icon/thumbs-down-solid.svg") no-repeat 100% 100%;
}

.social-share-button .social-icon.share{
  -webkit-mask:url("../img/icon/facebook-brands.svg") no-repeat 100% 100%;
}

.social-share-button .social-icon.comment{
  -webkit-mask:url("../img/icon/comments-solid.svg") no-repeat 100% 100%;
}

.social-share-button .social-icon.bookmark{
  -webkit-mask:url("../img/icon/bookmark-solid.svg") no-repeat 100% 100%;
}

.ad-300 {
  text-align: left;
  margin-top: 10px;
}

.footer-custom-logo {
  background-image:url("../img/icon/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  background-position: center;
  min-height: 100px;
  overflow: hidden;
  text-indent: -9999px;
  display: block;
  margin: 5px auto 15px;
}

.d-none {
  display: none !important;
}

@media screen and (min-width: 1151px) {
  .expanded-menu-button {
  }
}
.promo-strip__list {
  display: flex;
  flex-wrap: wrap;
}
.promo-strip__list li {
  margin: 0;
}

.tag-block {
  margin: 0;
}

.text-block {
  width: 50%;
  margin: 0 5px;
  text-align: center;
}

.alert-text {
  margin-bottom: 5px !important;
}

.platform-color {
  background-color: #599E42;
}

.type-color {
  background-color: #26BDF0;
}

.brand-color {
  background-color: orange;
}
.river .media:not(:first-child) {
  background-image: url(../img/bg-border-light.png);
  background-position: top;
  background-repeat: repeat-x;
}
.reviews-list {
  list-style: none;
  margin: 0px;
}
.reviews-list li {
  margin: 0;
}
#block-copyright {
  margin: 0px;
}

#expanded-menu input[type="text"] {
  height: 40px;
  font-size: 20px;
  line-height: 20px;
  padding-left: 32px;
}
.hamburger-middle {
  font-size: 16px;
}
.menu--hamburger-menu li a {
  line-height: 26px;
  margin-bottom: 3px;
}
.hamburger-top .icon-search {
  position: absolute;
  left: 0px;
  bottom: 16px;
  width: 26px !important;
  height: 26px;
}

.owl-theme .owl-nav {

}
.owl-theme .owl-nav button span {
}
.owl-theme .owl-nav button:hover {
  color: #e03800 !important;
  width: 150px;
}
.owl-theme .owl-nav button {
  transition-duration: 0.3s;
  position: absolute;
  font-size: 80px !important;
  color: #ffffff78 !important;
  width: 100px;
  height: 100%;
  top: 0px;
  margin: 0px !important;
  background: none !important;
}
#default-content .owl-theme .owl-nav .owl-prev:hover {
  background-image: linear-gradient(to right, rgba(5, 0, 0, 0.70), transparent) !important;
}
#default-content .owl-theme .owl-nav .owl-prev {
  left: 0px;
  text-align: left;
  padding-left: 32px !important;
  background-image: linear-gradient(to right, rgba(5, 0, 0, 0.15), transparent) !important;
}
#default-content .owl-theme .owl-nav .owl-next:hover {
  background-image: linear-gradient(to left, rgba(5, 0, 0, 0.70), transparent) !important;
}
#default-content .owl-theme .owl-nav .owl-next{
  right: 0px;
  text-align: right;
  padding-right: 32px !important;
  background-image: linear-gradient(to left, rgba(5, 0, 0, 0.15), transparent) !important;
}
.owl-theme .owl-nav {
  margin: 0px;
}

body.page-article {

}
body.page-article main {
  margin-top: 60px;
}
body.page-article .field--name-dynamic-block-fieldnode-content-bug .bug-text {
  font-size: 17px;
  padding: 8px;
}
body.page-article h1 {
  font-size: 2.5rem;
}
body.page-article .ds-standard-article .author-details {
  font-size: 1rem;

}
body.page-article .social-share {
  font-size: 17px;
  width: 100%;
  margin: 0 0 2rem;
}
body.page-article .social-share-button .social-icon {
  height: 20px;
  width: 20px;
  margin: 0 1rem 0 0;
}
body.page-article .social-share-button {
  margin: 0;
}
body.page-article .ds-right .field__item {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
body.page-article .ds-right .scroll-animated {
  margin-bottom: 0.5rem;
  font-size: 1rem;
}
body.page-article .ds-right {
  width: 30%;
  padding-left: 32px;
}
body.page-article .ds-header {
  margin: 15px auto 30px;
  width: 100%;
}
body.page-article .ds-main {
  width: 70%;
  font-size: 1.1rem;
}
body.page-article .ds-wrapper > * {
  display: block;
  float: left;
}
body.page-article .ds-wrapper {
  margin: 15px auto;
  display: block;
}
body.page-article h2 {
  font-size: 1.6rem;
  margin-bottom: 1rem !important;
}
body.page-article .author-footer-social a {
  height: 20px;
  width: 20px;
}
body.page-article .recommended-articles-widget .article-section.bug-wrapper {
  padding: 8px;
  font-size: 14px;
}
body.page-article .page-title {
  font-size: 2.5rem;
  line-height: 2.5rem;
  margin: 15px 15px 5px !important;
}
body.page-article .fb-comments {
  text-align: center;
  width: 100%;
}
body.page-article .author-details {
  padding-bottom: 30px;
}

body.page-article #comments-toggle {
  padding: 10px;
  font-size: 1.1rem;
}
body.page-article .ds-footer {
  min-width: 100%;
}
body.page-article .wrapper-footer {
  width: 60%;
  min-width: 320px;
  margin: auto;
}
body.page-article .alert-text {
  margin-bottom: 5px !important;
  line-height: 32px;
  font-size: 1rem;
}
body.page-article .tag-block {
  margin-bottom: 2rem;
}
body.page-article .ds-standard-article {
  max-width: 1170px;
  margin:0px auto;
  padding: 3%;
  background-color: white;
}
body.page-article .full-width img {
  max-width: 100%;
}
body.page-article .author-footer {
  margin: 30px auto;
  padding: 20px;
}
body.page-article .ds-footer-full .article-title {
  font-size: 1rem;
  line-height: 1rem;
  margin: 10px 10px 5px !important;
}
body.page-article .footer-social-links .social-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
  background-size: 20px;
}
body.page-article .social-share-buttons {
  display: flex;
  justify-content: flex-start;
}
body.page-article {


}




/*RESPONSIVE*/

@media screen and (max-width: 1150px) {
  header {
    height: initial;
  }
  .header-right-container .expanded-menu-button {
    position: fixed;
    top: 10px;
    right: 30px;
    height: initial;
    width: initial;
  }
}