html {
  font-family: "HelveticaNeue", Serif;
}

.social-share-button .social-icon.upvote {
  -webkit-mask: url("../img/icon/thumbs-up-solid.svg") no-repeat 100% 100%;
}

.social-share-button .social-icon.downvote {
  -webkit-mask: url("../img/icon/thumbs-down-solid.svg") no-repeat 100% 100%;
}

.social-share-button .social-icon.share{
  -webkit-mask:url("../img/icon/facebook-brands.svg") no-repeat 100% 100%;
}

.social-share-button .social-icon.comment{
  -webkit-mask:url("../img/icon/comments-solid.svg") no-repeat 100% 100%;
}

.social-share-button .social-icon.bookmark{
  -webkit-mask:url("../img/icon/bookmark-solid.svg") no-repeat 100% 100%;
}

.ad-300 {
  text-align: left;
  margin-top: 10px;
}

.footer-custom-logo {
  background-image:url("../img/icon/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  background-position: center;
  min-height: 100px;
  overflow: hidden;
  text-indent: -9999px;
  display: block;
  margin: 5px auto 15px;
}

.d-none {
  display: none !important;
}

@media screen and (min-width: 1151px) {
  .expanded-menu-button {
  }
}
.promo-strip__list {
  display: flex;
  flex-wrap: wrap;
}
.promo-strip__list li {
  margin: 0;
}

.tag-block {
  margin: 0;
}

.text-block {
  width: 50%;
  margin: 0 5px;
  text-align: center;
}

.alert-text {
  margin-bottom: 5px !important;
}

.platform-color {
  background-color: #599E42;
}

.type-color {
  background-color: #26BDF0;
}

.brand-color {
  background-color: orange;
}
.river .media:not(:first-child) {
  background-image: url(../img/bg-border-light.png);
  background-position: top;
  background-repeat: repeat-x;
}
.reviews-list {
  list-style: none;
  margin: 0px;
}
.reviews-list li {
  margin: 0;
}
#block-copyright {
  margin: 0px;
}

#expanded-menu input[type="text"] {
  height: 40px;
  font-size: 20px;
  line-height: 20px;
  padding-left: 32px;
}
.hamburger-middle {
  font-size: 16px;
}
.menu--hamburger-menu li a {
  line-height: 26px;
  margin-bottom: 3px;
}
.hamburger-top .icon-search {
  position: absolute;
  left: 0px;
  bottom: 16px;
  width: 26px !important;
  height: 26px;
}

.owl-theme .owl-nav {

}
.owl-theme .owl-nav button span {
}
.owl-theme .owl-nav button:hover {
  color: #e03800 !important;
  width: 200px;
}
.owl-theme .owl-nav button {
  transition-duration: 0.3s;
  position: absolute;
  font-size: 80px !important;
  color: #ffffff78 !important;
  width: 100px;
  height: 100%;
  top: 0px;
  margin: 0px !important;
  background: none !important;
}
.owl-theme .owl-nav .owl-prev:hover {
  background-image: linear-gradient(to right, rgba(5, 0, 0, 0.50), transparent) !important;
}
.owl-theme .owl-nav .owl-prev {
  left: 0px;
  background-image: linear-gradient(to right, rgba(5, 0, 0, 0.15), transparent) !important;
}
.owl-theme .owl-nav .owl-next:hover {
  background-image: linear-gradient(to left, rgba(5, 0, 0, 0.50), transparent) !important;
}
.owl-theme .owl-nav .owl-next{
  right: 0px;
  background-image: linear-gradient(to left, rgba(5, 0, 0, 0.15), transparent) !important;
}
.owl-theme .owl-nav {
  margin: 0px;
}