{% extends "layout.twig" %}

{% block pre_include %}
    <title>Trang không tồn tại</title>
    <style>
        * {
            text-align: center;
        }
        .layout-container {
            display: flex !important;
        }
        .main-content {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        h1 {
            color: red;
        }
        a {

        }
        button:hover {
            background: #e74c3c;
        }
        button {
            width: 200px;
            margin: 6px auto 2rem;
            display: block;
            padding: 16px 0;
            cursor: pointer;
            background: #2C7ABE;
            color: #FFF;
            font-weight: bold;
            border: none;
        }
    </style>
{% endblock pre_include %}

{% block content %}

    <main class="main-content">
        <section class="404-page pt-20">
            <div class="container">
                <div class="error-container">
                    <h1 class="title">404</h1>
                    <h2>Không tìm thấy trang này!</h2>
                    <a href="/" class="btn-blue mb-4" title="Quay lại trang chủ">
                        <button>Quay lại trang chủ</button>
                    </a>
                </div>
            </div>
        </section>
    </main>

{% endblock content %}