{% extends "layout.twig" %}

{% block pre_include %}
    <title>{{article.title}}</title>
{% endblock %}

{% block content %}

    <div id="site-wrapper" class="page-article">
    </div>
{% endblock content %}