{% extends "layout.twig" %}
{% block pre_include %}
    <title>{{settings.meta_title ? settings.meta_title:settings.contact_title}}</title>
{% endblock pre_include %}
{% block post_include %}
{% endblock post_include %}
{% block content %}
{% endblock %}