<!DOCTYPE html>
<html>
<head>
  <title>Quên mật khẩu</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="icon" href="/static/img/favicon.ico">
  <link rel="stylesheet" href="/static/libs/bootstrap.min.css">
  <link rel="stylesheet" href="/static/libs/AdminLTE.min.css">
  <link rel="stylesheet" href="/static/libs/toastr.min.css">
  <script src="/static/libs/jquery.min.js"></script>
  <script src="/static/libs/toastr.min.js"></script>
  <style>
    .login-box { width: 300px; margin:100px auto 0; text-align: center; }
    .btn-login { background-color: $main_color !important; box-shadow: none !important; border: none !important; outline: 0 !important;}
  </style>
</head>
<body>
<div class="login-box">
  <h3>QUÊN MẬT KHẨU</h3>
  <div class="login-box-body">
    <form>
      <div class="form-group has-feedback">
        <input type="email" placeholder="Email" name="email" required class="form-control"><span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-primary btn-block btn-flat btn-login">Tạo lại mật khẩu</button>
        </div>
      </div>
    </form>
  </div>
</div>
<script>
  $('form').on('submit', function(e) {
    e.preventDefault();
    var email = $("input[name='email']").val();
    $.ajax({
      type: 'GET',
      url: '/api/user/checkEmail?email=' + email,
      success: function(json) {
        if(!json.code) {
          toastr.success("Reset thành công. Vui lòng kiểm tra email của bạn");
        } else toastr.error(json.message);
      },
      error: function (er) {
        var responseText = er.responseText
        if (responseText.indexOf('"code":0') != -1){
          toastr.success('Gửi email thành công');
        }
      }
    });
  });
</script>
</body>
</html>
