{% block pre_include %}
    <title>Final Riddle</title>
    <link rel="stylesheet" href="{{theme.uri}}/css/riddle.css">
{% endblock %}

{% block post_include %}{% endblock %}

{% block content %}
    

{% endblock content %}