{% extends "layout.twig" %}

{% block pre_include %}
    <title>{{getCustomField(gallery.id, 'gallery', 'solved-riddle')}}</title>
    <link href="https://fonts.googleapis.com/css?family=Patrick+Hand" rel="stylesheet">
    <style>
        body {
            background-color: #000000;
            color: #FFFFFF;
            text-align: center;
            margin: 0;
            overflow: hidden;
        }
        .introduction {
            margin-top: auto;
            margin-bottom: auto;
            box-sizing: border-box;
            font-size: 24px;
            padding: 10px;
            font-family: 'Patrick Hand', cursive !important;
        }
        .page-article .layout-container {
            display: flex !important;
        }
    </style>
{% endblock %}

{% block content %}
    <section class="introduction">
        <div class="innerCircle">
            <div class="innerText">Chào mừng tất cả nhà giải mã đã đến với cuộc chơi hôm nay.</div>
            <div id="container_buttons">
                <a class="btn-general next-level" href="https://choigiday.com/all-riddles">
                    <span>Bắt đầu!</span>
                </a>
            </div>
        </div>
    </section>
{% endblock content %}