{% block pre_include %}
    <title>Winter Is Coming</title>
    <<link rel="stylesheet" href="{{theme.uri}}/css/riddle.css">>
{% endblock %}

{% block post_include %}{% endblock %}

{% block content %}
    <img src="{{theme.uri}}/img/four-seasons/riddles/winter/winter_3.jpg" alt="Winter Is Coming">
{% endblock content %}