{% block pre_include %}
    <title>Winter Is Coming</title>
    <link rel="stylesheet" href="{{theme.uri}}/css/riddle.css">
{% endblock %}

{% block post_include %}{% endblock %}

{% block content %}
    
    <p><img src="{{theme.uri}}/img/four-seasons/riddles/winter/winter_2.jpg" alt=""></p>
   
{% endblock content %}