{% extends "layout.twig" %}

{% block pre_include %}
    <title>{{getCustomField(gallery.id, 'gallery', 'solved-riddle')}}</title>
    <link href="https://fonts.googleapis.com/css?family=Patrick+Hand" rel="stylesheet">
    <style>
        body {
            background-color: #000000;
            color: #FFFFFF;
            text-align: center;
            margin: 0;
            overflow: hidden;
        }
        .hint-screen, .need-to-login {
            margin-top: auto;
            margin-bottom: auto;
            box-sizing: border-box;
            font-size: 24px;
            padding: 10px;
            font-family: 'Patrick Hand', cursive !important;
        }
        .page-article .layout-container {
            display: flex !important;
        }
    </style>
{% endblock %}

{% block content %}
    {% if customer.logged_in and gallery.role != 0 %}
        <div class="hint-screen">Gợi ý: {{gallery.description | raw}}</div>
    {% else %}
        <div class="need-to-login">
            Bạn cần đăng nhập trước khi tham gia Event!
        </div>
    {% endif %}
{% endblock content %}
