{% block pre_include %}
    <title>Winter Is Coming</title>
    <link rel="stylesheet" href="{{theme.uri}}/css/riddle.css">
    <link rel="shortcut icon" href="{{settings.favicon | upload_url}}">
{% endblock %}

{% block post_include %}{% endblock %}

{% block content %}
    <img class="winter" src="{{gallery.photos[0].image | upload_url}}" alt="Winter Is Coming">
{% endblock content %}