{% extends "layout.twig" %}

{% block pre_include %}
    <title>{{getCustomField(gallery.id, 'gallery', 'solved-riddle')}}</title>
    <link href="https://fonts.googleapis.com/css?family=Patrick+Hand" rel="stylesheet">
    <link rel="stylesheet" href="{{theme.uri}}/css/riddle.css">
    <link rel="stylesheet" href="{{theme.uri}}/css/button.css">
    <style>
        body {
            background-color: #000000;
            color: #FFFFFF;
            text-align: center;
            margin: 0;
            overflow: hidden;
        }
        .page-article .layout-container {
            display: flex !important;
        }
    </style>
{% endblock %}

{% block content %}
    <section class="circleBase type3 nav-primary">
        <div class="innerCircle">
            <div class="innerText">Chào mừng tất cả nhà giải mã đã đến với cuộc chơi hôm nay.</div>
            <div id="container_buttons">
                <a class="btn-general next-level" href="https://choigiday.com/all-riddles">
                    <span>Bắt đầu!</span>
                </a>
            </div>
        </div>
    </section>
{% endblock content %}