{% block pre_include %}
    <title>Murder House</title>
    <link rel="stylesheet" href="{{theme.uri}}/css/riddle.css">
    <link rel="shortcut icon" href="{{settings.favicon | upload_url}}">
{% endblock %}

{% block post_include %}{% endblock %}

{% block content %}
    

{% endblock content %}