{% extends "layout.twig" %}

{% block pre_include %}
    <title>Bảng xếp hạng</title>
{% endblock %}

{% block post_include %}
    <script>
        function loadRanking(url) {
            $.ajax({
                url: url,
                type: 'GET',
                success: function (data) {
                    console.log(data);
                    var html = '';
                    if (data.customer.length == 0) 
                        html = 'Không tìm thấy kết quả!!!';
                    
                    for (var i = 0; i < data.customer.length; i++) {
                        html += `<div>
                            <div>${i+1}</div>
                            <img src="/uploads/${data.customer[i].avatar}" alt="${data.customer[i].name}" />
                            <div>${data.customer[i].name}</div>
                            <div>${data.customer[i].point}</div>
                        </div><br>`;
                    }

                    $('.ranking').html(html);
                }
            });
        }

        $(document).ready(function () {
            option_url = 'api/customer?page=1&sortby=point';
            loadRanking(option_url);
        })
    </script>
{% endblock %}

{% block content %}

    <h2>Bảng xếp hạng hiện tại của các người chơi!</h2>
    <div class="ranking"></div>

{% endblock content %}