{% extends "layout.twig" %}

{% block pre_include %}
    <title>{{getCustomField(gallery.id, 'gallery', 'solved-riddle')}}</title>
{% endblock %}

{% block post_include %}{% endblock %}

{% block content %}
    {{gallery.description | raw}}
{% endblock content %}