{% block pre_include %}
    <title>Bảng xếp hạng</title>
{% endblock %}

{% block post_include %}{% endblock %}

{% block content %}

    Bảng xếp hạng hiện tại của các người chơi!



{% endblock content %}