{% extends "layout.twig" %}

{% block pre_include %}
    <title>The Event</title>
    <link rel="stylesheet" href="{{theme.uri}}/css/riddle.css">
{% endblock %}

{% block post_include %}{% endblock %}

{% block content %}
    
    <div class="introdution">
        <p>Chào mừng tất cả người chơi đã đến đây..</p>
        <div>
            <a href="https://choigiday.com/all-riddles">Bắt đầu!</a>
        </div>
    </div>

{% endblock content %}