{% block pre_include %}
    <title>Domino Dance</title>
    <meta name="google-site-verification" content="YsdIiXgCV-gDo4Nr4MngeUys0pOYPEaxTcOp4JpvUus" />
    <link rel="stylesheet" href="{{theme.uri}}/css/riddle.css">
    <link rel="shortcut icon" href="{{settings.favicon | upload_url}}">
{% endblock %}

{% block post_include %}{% endblock %}

{% block content %}
    <img class="starting" src="{{gallery.photos[0].image | upload_url}}" alt="Domino Dance">
{% endblock content %}