{% extends "layout.twig" %}

{% block pre_include %}
    <title>{{settings.meta_title ? settings.meta_title : settings['shop_name']}}</title>
{% endblock %}

{% block post_include %}
  <script>
    $('.js-filter-option').click(function() {
      var sortbyValue = $(this).data('sort-value');
      sortby = '&sortby=' + sortbyValue ;
      var url = '/api/search?type=article&filter=view>0' + sortby;
      ajaxLoadFilter(url);
    })
    
    function ajaxLoadFilter(url) {
      $.ajax({
          url: url,
          type: 'GET',
          success: function (html) {
            console.log(html);
            $('.js-load-forever-container').html(html);
          }
      })
    }
  </script>
{% endblock %}

{% block content %}
   <div id="site-wrapper" class="page-blog col-2-template">
    <div id="mantle_skin">
      <div id="rbSkin" class="rbSkin">
        <span id="adSkinLeft"></span>
        <span id="adSkinRight"></span>
        <div class="mapped-ad mapped-skin_top">
          <div id="skin_top" class="ad-wrap"></div>
        </div>
        <div id="wrapper">
          {% include 'snippet/index-featured-post.twig' %}
          <div id="site" role="main">
            <div id="default-content" class=" container row">
              {% include 'snippet/index-featured-slider.twig' %}
              <div id="leader_plus_top-wrap" class="mapped-ad mapped-leader_plus_top">
                <div id="leader_plus_top" class="ad-wrap"></div>
              </div>
              {% include 'snippet/index-content.twig' %}
              {% include 'snippet/index-rightside-reviews.twig' %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
