{% extends "layout.twig" %}

{% block pre_include %}
    <title>{{product.title}}</title>
{% endblock pre_include %}

{% block post_include %}
{% endblock post_include %}

{% block content %}
{% endblock content %}