{% extends "layout.twig" %}

{% block pre_include %}
  <title>{{ blog.title }}</title>
  <title>Tạo lại mật khẩu</title>
  <link rel="stylesheet" href="{{ theme.uri }}/css/create-password.css">
{% endblock %}


{% block content %}


  <div class="user-account">
    <div class="user-account-wrapper">
      <div class="change-nickname">
        <p>Nickname của bạn là: </p>
        <input type="text" placeholder="{{ 'tên của user' }}">
      </div>
      <hr>
      <div class="change-avatar">
        <p>Cập nhật avatar: <span class="avatar-name"></span></p>
        <input type="file" onchange="checkInputImg()">
      </div>
      <hr>
      <div class="change-password">
        <div class="modal-change-password">
          <div class="content-modal">
            <button class="text-blue text-center text-bold effect-hover-1"
                    style="margin: 2rem auto;background: white;border: 1px solid #2c7abe;"
                    onclick="isShowChangePassword(true)">
              Đổi mật khẩu
            </button>
            <div class="collapse-change-assword">
              <label for="old-password">Nhập mật khẩu cũ</label>
              <input type="password" id="old-password" placeholder="Nhập mật khẩu cũ">
              <label for="new-password">Nhập mật khẩu mới</label>
              <input type="password" id="new-password" placeholder="Nhập mật khẩu mới">
              <label for="re-new-password">Nhập lại mật khẩu mới</label>
              <input type="password" id="re-new-password" placeholder="Nhập lại mật khẩu mới">
              <p class="modal-change-password-error d-none">Error here</p>
              <div class="modal-password-footer">
                <div class="col-6">
                  <button class="full-width effect-hover-1" onclick="isShowChangePassword(false)">Đóng</button>
                </div>
                <div class="col-6">
                  <button class="full-width effect-hover-1" onclick="changePassword()">Đổi mật khẩu</button>
                </div>
              </div>
            </div>
            <script>
              function isShowChangePassword(boolean) {
                if(boolean)
                  $('.collapseChangePassword').removeClass('d-none');
                else
                  $('.collapseChangePassword').addClass('d-none');
              }
              function changePassword() {}
            </script>
          </div>
        </div>
      </div>
      <button class="update-info" onclick="updateInfo()">Cập nhật thông tin</button>
    </div>
  </div>

  <script>
    function updateInfo() {

    }

    function checkInputImg() {
      let _filename = $('.change-avatar input').val();
      console.log(_filename);
      if (_filename) {
        $('.change-avatar input').addClass('selected');
      } else {
        $('.change-avatar input').removeClass('selected');
      }
      $('.change-avatar .avatar-name').html(_filename);
    }
  </script>

{% endblock content %}

{% block post_include %}

{% endblock %}