{% extends "layout.twig" %}

{% block pre_include %}
  <title>{{ blog.title }}</title>
  <title>Tạo lại mật khẩu</title>
  <link rel="stylesheet" href="{{ theme.uri }}/css/create-password.css">
{% endblock %}


{% block content %}


  <div class="user-account">
    <div class="user-account-wrapper">
      <div class="change-nickname">
        <input type="text" placeholder="{{ 'tên của user' }}">
      </div>
      <div class="change-avatar">
        <p>Avatar: <input type="file" onchange="checkInputImg()"></p>
      </div>
      <div class="change-password">
        <div class="modal-change-password d-none">
          <div class="content-modal">
            <h2 class="text-blue text-center text-bold"
                style="margin-bottom: 0.5rem; padding-bottom: 0.5rem;">
              Cập Nhập Thông Tin
            </h2>
            <label for="old-password">Nhập mật khẩu cũ</label>
            <input type="password" id="old-password" placeholder="Nhập mật khẩu cũ">
            <label for="new-password">Nhập mật khẩu mới</label>
            <input type="password" id="new-password" placeholder="Nhập mật khẩu mới">
            <label for="re-new-password">Nhập lại mật khẩu mới</label>
            <input type="password" id="re-new-password" placeholder="Nhập lại mật khẩu mới">
            <p class="modal-change-password-error">Error here</p>
            <div class="modal-password-footer">
              <div class="col-6">
                <button class="full-width" onclick="closeModalChangePassword()">Hủy</button>
              </div>
              <div class="col-6">
                <button class="full-width" onclick="postChangePassword()">Cập nhập</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="update-info" onclick="updateInfo()"></button>
    </div>
  </div>

  <script>
    function updateInfo() {

    }

    function checkInputImg() {
      let _filename = $('.change-avatar input').val();
      console.log(_filename);
      if (_filename) {
        $('.change-avatar input').addClass('selected');
      } else {
        $('.change-avatar input').removeClass('selected');
      }
      $('.change-avatar .avatar-name').html(_filename);
    }
  </script>

{% endblock content %}

{% block post_include %}

{% endblock %}