{% set reviewBlog = Blog ('danh-gia') %}
<aside class="secondary-content span4 medium-span5">
	<div id="mpu_top-wrap" class="js-mapped-ad mapped-ad mapped-mpu_top mapped-mpu_top-dart">
		<div id="mpu_top" class="ad-wrap ad-wrap-mpu_top"></div>
	</div>
	<section class="pod pod-filter">
		<dl class="pod-header">
			<dt class="pod-header__item">
				<div class="pod-title">
					<h4>Đánh giá</h4>
					<span aria-hidden="true" class="pod-div" role="presentation"></span>
				</div>
			</dt>
			<dd class="pod-header__item pod-header__filters pod-header__filters--js no-flex">
				<div class="pod-header__filters--select">
					<select class="js-filter-json">
						<option value="view-desc">PHỔ BIẾN NHẤT</option>
						<option value="created_at-desc">MỚI NHẤT</option>
						<option value="admin_point-desc">ĐIỂM CAO NHẤT</option>
						<option value="admin_point-asc">ĐIỂM THẤP NHẤT</option>
					</select>
				</div>
			</dd>
		</dl>
		<div class="filter-results js-filter-results">
			<ol class="reviews-list">
				<div class="filter-results js-filter-results">
                    <ul class="game game--top-games"></ul>
               	</div>
			</ol>
			
			<footer class="pod-footer">
				<a href="/danh-gia">Xem tất cả đánh giá</a>
			</footer>
		</div>
	</section>
</aside>
    