{% extends "layout.twig" %}

{% block pre_include %}
    <title>Tạo lại mật khẩu</title>
    <link rel="stylesheet" href="{{ theme.uri }}/css/create-password.css"/>
{% endblock %}

{% block post_include %}
    <script>
        $("#create-new-password-form").submit(function (e) {
            e.preventDefault();
            var data = {
                token: $("#user_token").val(),
                password: $("#create-new-password").val()
            };
            var passwordConfirmation = $("#create-new-password-confirm").val();
            if (!data.password) {
                $('#create-new-password').addClass('has-error');
                toast('Vui lòng nhập mật khẩu mới', 3000, error_color);
                return;
            } else {
                $('#create-new-password').removeClass('has-error');
            }
            if (!passwordConfirmation) {
                $('#create-new-password-confirm').addClass('has-error');
                toast('Vui lòng xác nhận mật khẩu mới', 3000, error_color);
                return;
            } else {
                $('#create-new-password-confirm').removeClass('has-error');
            }
            if (data.password != passwordConfirmation) {
                $('#create-new-password-confirm').addClass('has-error');
                toast('Mật khẩu không trùng khớp', 3000, error_color);
                return;
            } else {
                $('#create-new-password-confirm').removeClass('has-error');
            }
            $.ajax({
                url: "/api/resetPassword",
                type: "POST",
                data: data,
                success: function (result) {
                    if (! result.code) {
                        toast('Tạo mật khẩu mới thành công', 3000, success_color);
                        location.href = '/';
                    } else {
                        toast(result.message, 3000, error_color);
                    }
                }
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="wrapper">
        <main class="main-content">
            <h1>TẠO LẠI MẬT KHẨU MỚI</h1>
            <section class="dang-ky loginModal">
                <div class="">
                    <div class="bg_white col py-4">
                        <form id="create-new-password-form" class="login-form col-lg-8 col-xl-6 mx-auto">
                            <input type="hidden" id="user_token" value="{{token}}"/>
                            <input class="form-control style2" id="create-new-password" placeholder="Nhập mật khẩu mới" type="password"/>
                            <input class="form-control style2" id="create-new-password-confirm" placeholder="Nhập lại mật khẩu mới" type="password"/>
                            <button class="mr-4 reset-btn btn-blue mb-3">Tạo mật khẩu</button>
                        </form>
                        <button class="mr-4 reset-btn btn-blue mb-3 btn-transparent" onclick="document.location.href='/'">Về trang chủ</button>
                    </div>
                </div>
            </section>
        </main>
    </div>
{% endblock content %}
    