{% extends "layout.twig" %}

{% block pre_include %}
    <title>Quên mật khẩu</title>
{% endblock %}

{% block content %}

    <main class="main-content">
        <nav class="breadcrumbk">
            <div class="container">
                <ul class="reset-list breadcrumbk-list">
                    <li class="item">
                        <a href="/" class="link">
                            <i class="fa fa-home"></i>
                        </a>
                    </li>
                    <li class="item active">Quên mật khẩu</li>
                </ul>
            </div>
        </nav>

        <section class="dang-ky loginModal">
            <h3 class="d-none">quen-mat-khau</h3>
            <div class="container">
                <div class="bg_white col py-4">
                    <a href="javascript:history.back(-1)" class="link d-block cl_blue pb-1 fm">
                        <i class="fa fa-angle-double-left pr-2"></i>Quay lại</a>

                    <h3 class="title text-uppercase text-center fs_24 mb-1">quên mật khẩu</h3>
                    <small class="small d-block text-center fs_14">Vui lòng cung cấp email đăng nhập, chúng tôi sẽ gửi link kích hoạt cho bạn.</small>

                    <form id="forgot-password-form" class="login-form col-lg-8 col-xl-6 mx-auto">
                        <input type="text" class="form-control style2" id="forgot-password-email" placeholder="Nhập email"/>
                        <button class="mr-4 reset-btn btn-blue mb-3">Cấp lại mật khẩu</button>
                    </form>
                </div>
            </div>
        </section>
    </main>

    <script>
        $("#forgot-password-form").submit(function (e) {
            e.preventDefault();
            var data = {
                email: $("#forgot-password-email").val()
            };

            if (!data.email) {
                $('#forgot-password-email').addClass('noti-input-error');
                toastr.error("Vui lòng nhập email");
                return;
            } else {
                $('#forgot-password-email').removeClass('noti-input-error');
            }

            if (!data.email.match("^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$")) {
                $('#forgot-password-email').addClass('noti-input-error');
                toastr.error('Email không đúng định dạng!');
                return;
            } else {
                $('#forgot-password-email').removeClass('noti-input-error');
            }

            $.ajax({
                url: "/api/forgotPassword",
                type: "POST",
                data: data,
                success: function (result) {
                    if (!result.code) {
                        toastr.success(result.message);
                        setTimeout(function () {
                            location.href = '/';
                        }, 1000);
                    } else {
                        $('#forgot-password-email').addClass('noti-input-error');
                        toastr.error(result.message);
                    }
                }
            });
        });
    </script>

{% endblock content %}